.loaderBox {
  margin: 200px 0px;
  display: flex;
  justify-content: center;
}

.loader {
  --cube-size: 35px;
  position: relative;
  width: calc(var(--cube-size) * 2);
  height: calc(var(--cube-size) * 2);
}

.loader .cube {
  border-radius: 50px;
  width: var(--cube-size);
  height: var(--cube-size);
  background: #7f438d;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader-cube-1 2.4s 0.2s cubic-bezier(0.72, 0.01, 0.01, 1) infinite;
}

.loader .cube:nth-of-type(2) {
  background: #398bc5;
  right: 0;
  left: auto;
  animation-name: loader-cube-2;
  animation-delay: 0.4s;
}

.loader .cube:nth-of-type(3) {
  background: #d1e7f7;
  bottom: 0;
  top: auto;
  animation-name: loader-cube-3;
  animation-delay: 0s;
}

@keyframes loader-cube-1 {
  from,
  to {
    transform: translate(0%);
  }
  25% {
    transform: translateY(100%);
  }
  50% {
    transform: translate(100%, 100%);
  }
  75% {
    transform: translate(100%);
  }
}

@keyframes loader-cube-2 {
  from,
  to {
    transform: translate(0);
  }
  25% {
    transform: translate(-100%);
  }
  50% {
    transform: translate(-100%, 100%);
  }
  75% {
    transform: translateY(100%);
  }
}

@keyframes loader-cube-3 {
  from,
  to {
    transform: translate(0);
  }
  25% {
    transform: translate(100%);
  }
  50% {
    transform: translate(100%, -100%);
  }
  75% {
    transform: translateY(-100%);
  }
}
