.tve_shortcode_rendered h1 {
  font-size: 52px;
  text-align: left;
  margin: 0 0 10px;
  color: #000000;
  font-family: 'Jost';
  line-height: 1.2;
  font-weight: 700;
  padding: 0;
}

.tve_shortcode_rendered p {
  line-height: 1.7;
  margin-bottom: 20px !important;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 1em;
}

.tve_shortcode_rendered h3 {
  color: #000000;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-align: start;
}
@media screen and (max-width: 770px) {
  .tve_shortcode_rendered h1 {
    font-size: 40px;
    text-align: left;
    margin: 0 0 10px;
    color: #000000;
    font-family: 'Jost';
    line-height: 1.2;
    font-weight: 700;
    padding: 0;
  }

  .tve_shortcode_rendered p {
    line-height: 1.7;
    margin-bottom: 20px !important;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 17px;
  }

  .tve_shortcode_rendered h3 {
    color: #000000;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: 700;
    text-align: start;
  }
}
